<div class="card text-center shadow mt-5" th:fragment="ricetta(ricetta)"
     th:title="${ricetta.descrizione}">
  <a th:href="@{'/ricette/ricetta/' + ${ricetta.id}}">
     <div th:id="'carouselExampleIndicators#' + ${ricetta.id}" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
           <button th:each="immagine, iterStat : ${ricetta.immagini}" type="button" th:data-bs-target="'#carouselExampleIndicators#' + ${ricetta.id}" th:data-bs-slide-to="${iterStat.count - 1}" class="active" th:aria-current="${iterStat.count == 1}" th:aria-label="'Slide ' + ${iterStat.count}"></button>
        </div>
        <div class="carousel-inner">
           <div data-bs-interval="2250" th:class="'carousel-item ' + ${immagine == ricetta.immagini[0] ? 'active' : ''}" th:each="immagine : ${ricetta.immagini}">
              <img th:src="@{${immagine}}" class="d-block w-100" th:title="${ricetta.nome}" th:alt="${ricetta.nome}">
           </div>
        </div>
     </div>
  </a>
   <div class="card-body border">
      <h3 class="card-title" th:text="${ricetta.nome}"></h3>
      <p class="card-text" th:text="${ricetta.descrizione}"></p>
   </div>
   <div th:class="'card-footer pb-' + ${(#authentication.getPrincipal() != 'anonymousUser' && (ricetta.cuoco.utente == loggedUser || #strings.contains(loggedUser.credenziali.role, 'AMMINISTRATORE'))) ? '3' : '0'}">
      <a class="card-link link-primary text-decoration-underline fs-6"
         th:href="@{'/cuochi/cuoco/' + ${ricetta.cuoco.id}}"
         th:title="'Visualizza i dati del Cuoco ' + ${ricetta.cuoco.utente.credenziali.username}"
         th:text="'Cuoco ' + ${ricetta.cuoco.utente.credenziali.username}"
      >
      </a>
      <a class="card-link link-primary text-decoration-underline fs-6 ms-3 mt"
         th:href="@{'/ingredienti/ricetta/' + ${ricetta.id}}"
         title="Visualizza gli ingredienti di questa ricetta."
      >Ingredienti</a>
     <div class="mt-3">
        <a class="btn btn-primary" role="button"
           th:href="@{'/ingredienti/register/ricetta/' + ${ricetta.id}}"
           th:if="${(#authentication.getPrincipal() != 'anonymousUser' || ricetta.cuoco.utente == loggedUser) && (#strings.contains(loggedUser.credenziali.role, 'AMMINISTRATORE') || (#strings.contains(loggedUser.credenziali.role, 'REGISTRATO') && ricetta.cuoco.utente == loggedUser))}"
           title="Aggiungi un ingrediente per questa ricetta"
        >
           <i class="fas fa-plus"></i>
        </a>
        <a class="btn btn-danger ms-2" role="button"
           th:href="@{'/ricette/delete/ricetta/' + ${ricetta.id}}"
           th:if="${(#authentication.getPrincipal() != 'anonymousUser' || ricetta.cuoco.utente == loggedUser) &&  (#strings.contains(loggedUser.credenziali.role, 'AMMINISTRATORE') || (#strings.contains(loggedUser.credenziali.role, 'REGISTRATO') && ricetta.cuoco.utente == loggedUser))}"
           title="Rimuovi questa ricetta"
        >
           <i class="fas fa-trash"></i>
        </a>
        <a class="btn btn-warning ms-2" role="button"
           th:href="@{'/ricette/update/ricetta/' + ${ricetta.id}}"
           th:if="${(#authentication.getPrincipal() != 'anonymousUser' || ricetta.cuoco.utente == loggedUser) &&  (#strings.contains(loggedUser.credenziali.role, 'AMMINISTRATORE') || (#strings.contains(loggedUser.credenziali.role, 'REGISTRATO') && ricetta.cuoco.utente == loggedUser))}"
           title="Modifica questa ricetta"
        >
           <i class="fas fa-pen"></i>
        </a>
     </div>
   </div>
</div>
