<!DOCTYPE html>
<html th:lang="${GLOBAL_CONSTANTS_MAP.get('LANG')}" th:xmlns:th="${GLOBAL_CONSTANTS_MAP.get('TEMPLATES_XMLNS')}">

<head th:replace="~{fragments/shared/head.html :: head(title = 'Ingredienti')}">

</head>
<link rel="stylesheet" th:href="@{/css/shared/style.css}"/>
<body>
<div th:replace="~{fragments/shared/pagination/header.html :: header()}">
</div>
<main>
   <div class="container" th:with="areIngredientiValid = ${ingredienti != null && !#sets.isEmpty(ingredienti)}, isIngredienteDeleted = ${param.isIngredienteDeleted}">
      <div class="row justify-content-center">
         <div th:replace="~{fragments/shared/message/success/successMessage.html :: successMessage(text = 'Ingrediente eliminato con successo.', condition = ${isIngredienteDeleted})}"></div>
         <div class="col-12 mb-5" th:if="${areIngredientiValid}">
            <div class="row">
               <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4" th:each="ingrediente : ${ingredienti}">
                  <div th:replace="~{fragments/food/ingrediente.html :: ingrediente(ingrediente = ${ingrediente})}"></div>
               </div>
            </div>
         </div>
         <!--
           <div th:unless="${areIngredientiValid}"
               th:with="productName = ${searchedProductName}, productCategory = ${searchedProductCategoryName}">
             <div
                   th:replace="~{fragments/home/ingredientiNotFound.html :: salesNotFound(hasSearchedSales = ${hasSearchedSales}, productName = ${productName}, productCategory = ${productCategory})}"></div>
          </div>
         -->
      </div>
   </div>
</main>
<div th:replace="~{fragments/shared/pagination/footer.html :: footer()}">
</div>
</body>

</html>