<div class="card text-center shadow mt-5" th:fragment="ricetta(ricetta)"
     th:title="${ricetta.descrizione}">
   <div th:id="'carouselExampleIndicators#' + ${ricetta.id}" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
         <button th:each="immagine, iterStat : ${ricetta.immagini}" type="button" th:data-bs-target="'#carouselExampleIndicators#' + ${ricetta.id}" th:data-bs-slide-to="${iterStat.count - 1}" class="active" th:aria-current="${iterStat.count == 1}" th:aria-label="'Slide ' + ${iterStat.count}"></button>
      </div>
      <div class="carousel-inner">
         <div data-bs-interval="2250" th:class="'carousel-item ' + ${immagine == ricetta.immagini[0] ? 'active' : ''}" th:each="immagine : ${ricetta.immagini}">
            <img th:src="@{${immagine}}" class="d-block w-100" th:title="${ricetta.nome}" th:alt="${ricetta.nome}">
         </div>
      </div>
      <button class="carousel-control-prev" type="button" th:data-bs-target="'#carouselExampleIndicators#' + ${ricetta.id}" data-bs-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" th:data-bs-target="'#carouselExampleIndicators#' + ${ricetta.id}" data-bs-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Next</span>
      </button>
   </div>
   <!-- Fine Carousel -->
   <div class="card-body border">
      <h3 class="card-title" th:text="${ricetta.nome}"></h3>
      <p class="card-text" th:text="${ricetta.descrizione}"></p>
   </div>
   <div class="card-footer">
      <a class="card-link link-primary text-decoration-underline fs-6 ms-4"
         th:href="@{'/cuochi/' + ${ricetta.cuoco.id}}"
         th:title="'Visualizza i dati del Cuoco ' + ${ricetta.cuoco.utente.credenziali.username}"
         th:text="'Cuoco ' + ${ricetta.cuoco.utente.credenziali.username}"
      >
      </a>
      <a class="card-link link-primary text-decoration-underline fs-6 me-2"
         th:href="@{'/ingredienti/' + ${ricetta.id}}"
         title="Visualizza gli ingredienti di questa ricetta."
      >Ingredienti</a>
      <a class="btn btn-primary mb-2 ms-2 me-2" role="button"
         th:href="@{'/ingredienti/' + ${ricetta.id} + '/register'}"
         th:if="${#authentication.getPrincipal() != 'anonymousUser' && (#strings.contains(loggedUser.credenziali.role, 'AMMINISTRATORE') || #strings.contains(loggedUser.credenziali.role, 'REGISTRATO'))}"
         title="Aggiungi un ingrediente per questa ricetta"
      >
         <i class="fas fa-plus"></i>
      </a>
      <a class="btn btn-danger mb-2" role="button"
         th:href="@{'/ricette/delete/' + ${ricetta.id}}"
         th:if="${#authentication.getPrincipal() != 'anonymousUser' && (#strings.contains(loggedUser.credenziali.role, 'AMMINISTRATORE') || #strings.contains(loggedUser.credenziali.role, 'REGISTRATO'))}"
         title="Rimuovi questa ricetta"
      >
         <i class="fas fa-trash"></i>
      </a>
      <a class="btn btn-warning ms-2 mb-2" role="button"
         th:href="@{'/ricette/update/' + ${ricetta.id}}"
         th:if="${#authentication.getPrincipal() != 'anonymousUser' && (#strings.contains(loggedUser.credenziali.role, 'AMMINISTRATORE') || #strings.contains(loggedUser.credenziali.role, 'REGISTRATO'))}"
         title="Modifica questa ricetta"
      >
         <i class="fas fa-pen"></i>
      </a>
   </div>
</div>
