<!DOCTYPE html>
<html th:lang="${GLOBAL_CONSTANTS_MAP.get('LANG')}" th:xmlns:th="${GLOBAL_CONSTANTS_MAP.get('TEMPLATES_XMLNS')}">

<head th:replace="~{fragments/shared/head.html :: head(title = 'Cuochi')}">

</head>
<body>
<div th:replace="~{fragments/shared/pagination/header.html :: header()}">
</div>
<main>
   <div class="container" th:with="areCuochiValid = ${cuochi != null && !#lists.isEmpty(cuochi)}, isCuocoDeleted = ${param.isCuocoDeleted}">
      <div class="row justify-content-center">
         <div class="col-12 mt-5">
            <div class="row text-center">
               <h1 th:text="'Cuochi ' + ${GLOBAL_CONSTANTS_MAP.get('APP_NAME')} + ' 👨‍🍳'"></h1>
            </div>
         </div>
         <div th:replace="~{fragments/shared/message/success/successMessage.html :: successMessage(text = 'Cuoco eliminato con successo.', condition = ${isCuocoDeleted})}"></div>
         <div class="col-12 mb-5" th:if="${areCuochiValid}">
            <div class="row">
               <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4" th:each="cuoco : ${cuochi}">
                  <div th:replace="~{fragments/shared/food/cuoco.html :: cuoco(cuoco = ${cuoco})}"></div>
               </div>
            </div>
         </div>
          <div th:unless="${areCuochiValid}">
             <div th:replace="~{fragments/shared/food/notFound/cuochiNotFound.html :: cuochiNotFound()}"></div>
         </div>
      </div>
   </div>
</main>
<div th:replace="~{fragments/shared/pagination/footer.html :: footer()}">
</div>
</body>

</html>