<header th:fragment="header()">
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid py-1">
         <button aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation"
                 class="navbar-toggler"
                 data-bs-target="#navbarTogglerDemo03" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="navbar-brand ms-3">
            <a th:replace="~{fragments/shared/logo.html :: logo()}"> </a>
         </div>
         <div class="collapse navbar-collapse text-center" id="navbarTogglerDemo03">
            <ul class="navbar-nav ms-2 me-5">
               <li class="nav-item">
                  <a aria-current="page" class="nav-link active" th:href="@{/cuochi}"
                     th:title="'Vai alle ricette di ' + ${GLOBAL_CONSTANTS_MAP.get('APP_NAME') }">
                     Cuochi
                     <i class="fas fa-user-friends"></i>
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link link-warning" th:href="@{/ricette}"
                     th:title="'Vai alle ricette di ' + ${GLOBAL_CONSTANTS_MAP.get('APP_NAME')}">
                     Ricette
                     <i class="fas fa-utensils mx-1"></i>
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link link-primary" th:href="@{/ingredienti}"
                     th:title="'Vai agli ingredienti di' + ${GLOBAL_CONSTANTS_MAP.get('APP_NAME')}">
                     Ingredienti
                     <i class="fas fa-cookie mx-1"></i>
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link link-danger fw-bold" th:href="@{/logout}" th:if="${#authentication.getPrincipal() != 'anonymousUser'}" title="Logout">
                     Logout
                     <i class="fas fa-sign-out-alt mx-1"></i>
                  </a>
               </li>
            </ul>
            <form class="d-flex ms-5 mt-4 mt-xl-0" id="search-product-form" method="GET"
                  name="search-ricette-form" th:action="@{/ricette/searchRicette}">
               <label class="form-label visually-hidden" for="nome"></label>
               <input class="form-control p-2 mx-3" id="nome"
                      name="nome" placeholder="Cerca ricette"
                      th:maxlength="${FIELD_SIZES_MAP.get('NOME_MAX_LENGTH')}"
                      th:minlength="${FIELD_SIZES_MAP.get('NOME_MIN_LENGTH')}"
                      th:value="${param != null ? param.get('nome') : null}"
                      title="Cerca ricette dal loro nome"
                      type="text"/>
               <label class="form-label visually-hidden" for="cuoco">Cuoco:</label>
               <select class="form-control form-select py-2" id="cuoco" name="cuoco"
                       title="Inserisci il cuoco delle ricette da cercare">
                  <option value="">Tutti</option>
                  <option th:each="cuoco : ${cuochiSelect}"
                          th:id="${cuoco.utente.nome + '#' + cuoco.id}"
                          th:name="${cuoco.utente.nome + '#' + cuoco.id}"
                          th:text="${cuoco.utente.credenziali.username}"
                          th:value="${cuoco.utente.credenziali.username}"></option>
               </select>
               <button class="form-control btn btn-outline-success form-control mx-3" id="submit" name="submit"
                       title="Cerca ricette" type="submit" value="submit">
                  Cerca
                  <i class="fas fa-search mx-1"></i>
               </button>
            </form>
         </div>
      </div>
   </nav>
</header>