<!DOCTYPE html>
<html th:lang="${GLOBAL_CONSTANTS_MAP.get('LANG')}" th:xmlns:th="${GLOBAL_CONSTANTS_MAP.get('TEMPLATES_XMLNS')}">

<head th:replace="~{fragments/shared/head.html :: head(title = 'Registration')}">
</head>
<body>
<div class="container">
   <div class="row justify-content-center">
      <div class="col-12 my-5">
         <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6 shadow border rounded px-5 pt-4 pb-2"
                 th:title="'Form di registrazione ' + ${GLOBAL_CONSTANTS_MAP.get('APP_NAME')}">
               <div class="row text-center mt-2 mb-4">
                  <h1 th:text="'Registrazione ' + ${GLOBAL_CONSTANTS_MAP.get('APP_NAME')} + ' 🕵️‍♂️'">Registrazione</h1>
               </div>
               <form id="registration-form" method="POST" name="registration-form"
                     th:action="@{/register}" enctype="multipart/form-data">
                  <div class="mb-3">
                     <label class="form-label" for="nome">Nome:</label>
                     <input class="form-control py-2" id="nome" name="nome"
                            placeholder="Inserisci il tuo nome"
                            required th:field="${utente.nome}"
                            th:maxlength="${FIELD_SIZES_MAP.get('NOME_MAX_LENGTH')}"
                            th:minlength="${FIELD_SIZES_MAP.get('NOME_MIN_LENGTH')}"
                            th:object="${utente}" title="Inserisci il tuo nome" type="text"/>
                     <div
                           th:replace="~{fragments/shared/message/error/fieldErrorMessage.html :: fieldErrorMessage(field = 'utente.nome')}"></div>
                  </div>
                  <div class="mb-3">
                     <label class="form-label" for="cognome">Cognome:</label>
                     <input class="form-control py-2" id="cognome" name="cognome"
                            placeholder="Inserisci il tuo cognome"
                            required th:field="${utente.cognome}"
                            th:maxlength="${FIELD_SIZES_MAP.get('COGNOME_MAX_LENGTH')}"
                            th:minlength="${FIELD_SIZES_MAP.get('COGNOME_MIN_LENGTH')}"
                            th:object="${utente}" title="Inserisci il tuo cognome"
                            type="text"/>
                     <div
                           th:replace="~{fragments/shared/message/error/fieldErrorMessage.html :: fieldErrorMessage(field = 'utente.cognome')}"></div>
                  </div>
                  <div class="mb-3">
                     <label class="form-label" for="data-nascita">Data di nascita:</label>
                     <input class="form-control py-2" id="data-nascita" name="data-nascita"
                            th:field="${utente.dataNascita}" th:fieldFormat="${TEMPORALS_MAP.get('DATE_FORMAT')}"
                            th:format="${TEMPORALS_MAP.get('DATE_FORMAT')}"
                            th:min="${TEMPORALS_MAP.get('DATANASCITA_MIN_VALUE')}"
                            th:max="${TEMPORALS_MAP.get('DATANASCITA_MAX_VALUE')}"
                            th:object="${utente}"
                            required
                            title="Inserisci la tua data di nascita" type="date"/>
                     <div
                           th:replace="~{fragments/shared/message/error/fieldErrorMessage.html :: fieldErrorMessage(field = 'utente.dataNascita')}"></div>
                  </div>
                  <div class="mb-3">
                     <label class="form-label" for="username">Username:</label>
                     <input class="form-control py-2" id="username" name="username"
                            placeholder="Inserisci il tuo username" required th:field="${credenziali.username}"
                            th:maxlength="${FIELD_SIZES_MAP.get('USERNAME_MAX_LENGTH')}"
                            th:minlength="${FIELD_SIZES_MAP.get('USERNAME_MIN_LENGTH')}"
                            th:object="${credenziali}"
                            th:title="'Inserisci il tuo username ' + ${GLOBAL_CONSTANTS_MAP.get('APP_NAME')}"
                            type="text">
                     <div
                           th:replace="~{fragments/shared/message/error/fieldErrorMessage.html :: fieldErrorMessage(field = 'credenziali.username')}"></div>
                  </div>
                  <div class="mb-3">
                     <label class="form-label" for="password">Password:</label>
                     <div class="input-group">
                        <input aria-describedby="toggle-password-visibility" aria-label="Password"
                               class="form-control py-2"
                               id="password" name="password" placeholder="Inserisci la tua password"
                               required
                               th:field="${credenziali.password}"
                               th:maxlength="${FIELD_SIZES_MAP.get('PASSWORD_LENGTH')}"
                               th:minlength="${FIELD_SIZES_MAP.get('PASSWORD_LENGTH')}"
                               th:title="'Inserisci la tua password ' + ${GLOBAL_CONSTANTS_MAP.get('APP_NAME')} + '.'"
                               type="password"/>
                        <div
                              th:replace="~{fragments/shared/showPasswordButton.html :: showPasswordButton()}"></div>
                     </div>
                     <div
                           th:replace="~{fragments/shared/message/error/fieldErrorMessage.html :: fieldErrorMessage(field = 'credenziali.password')}"></div>
                  </div>
                  <div class="mb-3">
                     <label class="form-label" for="confirm-password">Conferma Password:</label>
                     <input class="form-control py-2" id="confirm-password" name="confirm-password"
                            placeholder="Conferma la tua password"
                            required th:maxlength="${FIELD_SIZES_MAP.get('PASSWORD_LENGTH')}"
                            th:minlength="${FIELD_SIZES_MAP.get('PASSWORD_LENGTH')}"
                            th:title="'Conferma la tua password ' + ${GLOBAL_CONSTANTS_MAP.get('APP_NAME')}"
                            type="password"/>
                  </div>
                  <div class="mb-3">
                     <label class="form-label" for="fotografia-cuoco">Fotografia:</label>
                     <input class="form-control py-2"
                            form="registration-form"
                            id="fotografia-cuoco"
                            name="fotografia-cuoco"
                            placeholder="Inserisci la tua fotografia"
                            required
                            th:size="${FIELD_SIZES_MAP.get('IMAGE_MAX_BYTE_SIZE')}"
                            accept="image/png, image/jpeg, image/jpg, image/"
                            type="file"/>
                     <div
                           th:replace="~{fragments/shared/message/error/errorMessage.html :: errorMessage(text = ${cuocoFotografiaEmptyFile}, condition = ${cuocoFotografiaEmptyFile != null})}"></div>
                     <div
                           th:replace="~{fragments/shared/message/error/errorMessage.html :: errorMessage(text = ${cuocoFotografiaFileSizeExceedsLimit}, condition = ${cuocoFotografiaFileSizeExceedsLimit != null})}"></div>
                     <div
                           th:replace="~{fragments/shared/message/error/errorMessage.html :: errorMessage(text = ${cuocoFotografiaUnsupportedFileType}, condition = ${cuocoFotografiaUnsupportedFileType != null})}"></div>
                  </div>
                  <div class="my-4">
                     <button class="btn btn-primary form-control py-2 fw-bold mt-2" form="registration-form"
                             formmethod="POST"
                             id="submit"
                             name="submit" th:title="'Registrati in ' + ${GLOBAL_CONSTANTS_MAP.get('APP_NAME')}"
                             type="submit">
                        Registrati
                        <i class="fas fa-registered mx-1"></i>
                     </button>
                  </div>
               </form>
               <div class="col-12">
                  <div class="row text-center" id="registration-footer">
                     <p>
                        <a class="text-decoration-none fs-5 mx-3" th:href="@{/}"
                           th:title="'Vai alla pagina di Home di ' + ${GLOBAL_CONSTANTS_MAP.get('APP_NAME')}">Home</a>
                        <a class="text-decoration-none fs-5 mx-3" th:href="@{/login}"
                           th:title="'Vai alla pagina di Login di ' + ${GLOBAL_CONSTANTS_MAP.get('APP_NAME')}">Login</a>
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script th:charset="${GLOBAL_CONSTANTS_MAP.get('CHARSET')}" th:src="@{/js/shared/maxDateInputValue.js}"
        type="text/javascript"></script>
<script th:charset="${GLOBAL_CONSTANTS_MAP.get('CHARSET')}" th:src="@{/js/shared/showPassword.js}"
        type="text/javascript"></script>
</body>

</html>