<div class="card text-center shadow mt-5" th:fragment="cuoco(cuoco)"
     th:title="${cuoco.credenziali.username}">
   <a th:href="@{'/dashboard/cuochi/' + ${cuoco.id}}">
      <img class="card-img-top"
           th:alt="${cuoco.credenziali.username}"
           th:src="@{${cuoco.fotografia}}"
           th:title="${cuoco.credenziali.username}"/>
   </a>
   <div class="card-body border">
      <h3 class="card-title" th:text="${cuoco.nome + ' ' + cuoco.cognome}"></h3>
      <p class="card-text" th:text="'Nato il ' + ${cuoco.dataNascita}"></p>
      <p class="card-text fw-bold" th:text="'Utente ' + ${#strings.capitalize(cuoco.credenziali.role.toLowerCase().replace('_role', ' '))}"></p>
   </div>
   <div class="card-footer">
      <a class="card-link link-primary text-decoration-underline fs-5 ms-1 me-3"
         th:href="@{'/dashboard/ricette/cuoco/' + ${cuoco.id}}"
         th:title="'Visualizza le ricette del Cuoco ' + ${cuoco.credenziali.username}"
      >Ricette</a>
      <a class="btn btn-danger ms-3 mb-2" role="button"
         th:href="@{'/dashboard/cuochi/delete/' + ${cuoco.id}}"
         th:if="${#strings.contains(loggedUser.credenziali.role, 'AMMINISTRATORE')}"
         title="Rimuovi questo cuoco"
      >
         <i class="fas fa-trash"></i>
      </a>
   </div>
</div>